<div class="social-icons">
  <ul>
    <li><a href="{{socialLinks?.facebook}}"
         target="_blank">
        <fa-icon [icon]="facebook"
                 size="3x"
                 [styles]="{ stroke: '#3b5998', color: '#3b5998' }"></fa-icon>
      </a></li>
    <li><a href="{{socialLinks?.twitter}}"
         target="_blank">
        <fa-icon [icon]="twitter"
                 size="3x"
                 [styles]="{ stroke: '#55acee', color: '#55acee' }"></fa-icon>
      </a></li>
    <li><a href="{{socialLinks?.instagram}}"
         target="_blank">
        <fa-icon [icon]="instagram"
                 size="3x"
                 [styles]="{ stroke: '#3f729b', color: '#3f729b' }"></fa-icon>
      </a></li>
    <li>

      <a href="{{socialLinks?.linkdin}}"
         target="_blank">
        <fa-icon [icon]="linkdin"
                 [styles]="{ stroke: '#0077b5', color: '#0077b5' }"
                 size="3x"></fa-icon>
      </a>
    </li>
  </ul>
</div>
