<section class="education" id="education">
  <h1 class="heading">
    {{ educations?.headingNormalText }}
    <span class="gradient-text">{{ educations?.headingGradientText }}</span>
  </h1>

  <div class="edu-box-container">
    <div class="box" *ngFor="let workexp of educations?.workExperience">
      <div class="company">{{ workexp.companyName }}</div>
      <h3 class="designation">
        <span> {{ workexp.designation }}</span>
        <span class="chip">{{ workexp.duration }}</span>
      </h3>
    </div>
  </div>
</section>
