<section class="about-container">
  <h1 class="heading">
    <span class="gradient-text">{{ about?.headingGradientText }}</span>
    {{ about?.headingNormalText }}
  </h1>
  <div class="about margin-top-4">
    <h3>{{ about?.title }}</h3>
    <h1>
      {{ about?.titleNormalText }}
      <span class="gradient-text">{{ about?.titleGradientText }}</span>
    </h1>
    <ul>
      <li *ngFor="let paragraph of about?.details">
        {{ paragraph }}
      </li>
    </ul>
  </div>
</section>
