<section class="projects">
  <h1 class="heading gradient-text">{{ projects?.headingGradientText }}</h1>

  <div>
    <div class="card">
      <div class="card__side">
        <div class="card__picture">&nbsp;</div>
        <h4 class="card__heading">
          <span class="card__heading--span">
            Hospitality Information System (HIS)
          </span>
        </h4>
        <div class="card__details">
          <ul>
            <li>
              <p>
                <b> HIS (Hospitality Information System)</b> stands as a beacon
                of modern medical care, epitomizing a multi-disciplinary
                hospital that sets new standards in comprehensive treatment. Its
                specialty centers cover an expansive array of medical domains,
                ensuring that every patient's unique health challenges are met
                with expert precision and unwavering dedication.
              </p>
              <br />
              <p>
                At the heart of this transformative institution lies a
                groundbreaking project that is reshaping the landscape of
                hospital operations and patient care. By seamlessly integrating
                cutting-edge technology with healthcare, HIS is redefining the
                patient journey from the moment they step through the hospital
                doors to the day they leave, fully healed and satisfied.
              </p>
              <p>
                Key facets of this project that underscore its significance are:
              </p>
              <ol>
                <li>
                  <p>
                    <b>Effortless Patient Registration: </b>HIS introduces a
                    seamless patient registration process that minimizes
                    administrative hassles and maximizes accuracy. Patients
                    experience swift and convenient enrollment, setting a
                    positive tone for their overall healthcare experience.
                  </p>
                </li>
                <li>
                  <p>
                    <b>Ward Management Excellence: </b>Hospital ward management
                    becomes a finely tuned art with HIS. The system orchestrates
                    bed allocations, patient transfers, and resource
                    optimization with precision. This ensures that patients
                    receive tailored care while healthcare providers operate in
                    an environment of streamlined efficiency.
                  </p>
                </li>
                <li>
                  <p>
                    <b>Elevated Outpatient (OP) Care: </b>HIS empowers medical
                    professionals with comprehensive OP information,
                    facilitating efficient appointment scheduling, holistic view
                    of patient history, and enhanced coordination among
                    departments. This data-driven approach enhances the quality
                    of care and cultivates a patient-centric ecosystem.
                  </p>
                </li>
                <li>
                  <p>
                    <b>Advanced Inpatient (IP) Support: </b>For patients
                    requiring extended stays, HIS provides a sophisticated
                    platform for managing every aspect of inpatient care. From
                    treatment plans to diagnostics, progress tracking to
                    interdisciplinary collaboration, the system ensures a
                    unified approach to care delivery.
                  </p>
                </li>
                <li>
                  <p>
                    <b>Seamless Pharmacy Management: </b>The HIS revolutionizes
                    pharmacy management, ensuring that medication supply is
                    impeccably managed. With detailed tracking of incoming and
                    outgoing stock, healthcare providers can confidently
                    administer treatment, knowing that the medication pipeline
                    is well-maintained.
                  </p>
                </li>
                <li>
                  <p>
                    <b>Administrative Empowerment: </b>The administration and
                    configuration module of the project empowers hospital
                    administrators to tailor the system to their precise needs.
                    This adaptability ensures that the HIS remains a dynamic
                    tool, growing alongside the hospital's evolving
                    requirements.
                  </p>
                </li>
              </ol>
              <br />
              <p>
                In essence, HIS isn't just about automating hospital processes;
                it's about enhancing the very fabric of healthcare delivery. By
                fusing technological innovation with the art of medicine, HIS
                liberates healthcare practitioners from mundane tasks, allowing
                them to focus on delivering personalized, compassionate care.
                The project serves as a testament to the hospital's commitment
                to holistic well-being, pioneering a new era where medical
                excellence and technological advancement intertwine to create a
                healthcare experience that's second to none.
              </p>
              <br />
              <p>
                <b>Technologies: </b>Core Java, Spring MVC, Spring JDBC, Jasper
                Report, Angular 7, Angular Material, Typescript and Oracle
                Database 11g.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="card">
      <div class="card__side card__side--front">
        <div class="card__picture card__picture--1">&nbsp;</div>
        <h4 class="card__heading">
          <span class="card__heading--span card__heading--span--1">
            LoanSphere Expedite
          </span>
        </h4>
        <div class="card__details">
          <ul>
            <li>
              <p>
                <b>LoanSphere Expedite</b>, an avant-garde solution crafted by
                Black Knight, poised to redefine the landscape of document
                management for its discerning clients. This transformative
                platform presents a seamless avenue for electronically
                delivering individual documents or intricate document packages
                to designated recipients, all within a digital framework
                meticulously designed to elevate operational efficiency and user
                convenience.
              </p>
              <br />
              <p>
                At its core, LoanSphere Expedite champions a user-centric
                journey. Recipients are gracefully ushered through a fortified
                login process, ensuring not only their identity verification but
                also securing their informed consent for receiving documents
                electronically. Upon successful authentication, the recipients
                step into a tailored Dashboard that acts as an immersive nexus
                of document interaction and collaborative engagement. This
                Dashboard isn't just a digital interface; it's a dynamic control
                center, where recipients can seamlessly peruse documents and, if
                needed, provide their electronic signatures.
              </p>

              <br />
              <p>
                Complementing this recipient-facing brilliance is the LoanSphere
                Expedite Administrator Dashboard, an empowering tool for
                senders. This dashboard is more than just a window into the
                system; it's an orchestrator of operational finesse. From this
                centralized vantage point, administrators wield the power to
                oversee all transactions and document packages emanating from
                their central repository. They can effortlessly delve into the
                lifecycles of these packages, from their inception and dispatch
                to the nuanced actions taken by the recipients.
              </p>
              <br />
              <p>
                The LoanSphere Expedite Administrator Dashboard is an epicenter
                of empowerment. Beyond its monitoring capabilities, it empowers
                administrators to initiate new transactions and craft document
                packages seamlessly. It supports the dynamic integration of
                fresh document templates, aligning the system with the
                ever-evolving needs of the business.
              </p>
              <br />
              <p>
                However, the pinnacle of this system lies in its dedication to
                transparency and accountability. Administrators hold the reins
                to meticulously track recipient engagement, ensuring active
                consent, comprehensive document review, and even electronic
                signatures where mandated.
              </p>
              <br />
              <p>
                LoanSphere Expedite isn't just a digital upgrade; it's a
                monumental leap forward. It symbolizes the convergence of
                cutting-edge technology with user-centric philosophy, rewriting
                the rules of document exchange in the digital age. This platform
                stands not only for automation but also for the creation of an
                ecosystem where efficiency harmonizes with innovation, all
                fortified by unyielding security and compliance measures. Black
                Knight's LoanSphere Expedite is a clarion call, heralding a new
                era where document management transcends the ordinary,
                catalyzing operational excellence and cultivating a future
                defined by precision and agility.
              </p>
              <br /><br />
              <p>
                <b>Technologies: </b>Core Java, Spring MVC , Spring boot, Micro
                services, Angular 9, Angular Material, Typescript, Spring JDBC,
                MSSQL Server.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="card">
      <div class="card__side card__side--front">
        <div class="card__picture card__picture--1">&nbsp;</div>
        <h4 class="card__heading">
          <span class="card__heading--span card__heading--span--1">
            OLBB (Online Banking For Business)
          </span>
        </h4>
        <div class="card__details">
          <ul>
            <li>
              <p>
                <b>OLBB (Online Banking for Businesses)</b> - a dynamic online
                platform meticulously curated to cater exclusively to the
                diverse needs of business users. OLBB stands as the
                quintessential hub, offering a comprehensive array of banking
                solutions that seamlessly fuse convenience with cutting-edge
                technology, empowering businesses to navigate their financial
                landscape with unparalleled ease.
              </p>
              <br />
              <p>
                At its core, OLBB emerges as a transformative force, redefining
                the very essence of business banking. With a seamless interface
                that puts users at the helm, this platform ushers in an era of
                efficiency, where every banking solution is at the tip of the
                user's fingers. The essence of OLBB lies in its prowess to unite
                disparate banking functions, all under one virtual roof,
                transcending geographical constraints and time zones.
              </p>

              <br />
              <p>
                OLBB's spectrum of services spans an impressive range, with
                payment solutions taking center stage. The platform orchestrates
                intricate payment journeys, facilitating seamless transactions
                from one bank to another. With payment gateways that ensure
                reliability and security, OLBB empowers businesses to transcend
                boundaries and cement global financial connections.
              </p>
              <br />
              <p>
                Central to OLBB's prowess are its meticulously designed modules,
                each catering to a specific aspect of business finance. The
                Interac e-transfer module ushers in swift and secure fund
                transfers, offering a lifeline of liquidity that transcends
                traditional constraints. The Wire Payment module seamlessly
                navigates the intricate web of global financial transfers,
                ensuring that funds transcend borders with unrivaled efficiency.
              </p>
              <br />
              <p>
                Digital Cheque services present a paradigm shift in check-based
                transactions, digitizing an age-old process for modern
                convenience. The Account Transfer module offers a seamless
                mechanism for internal fund reallocation, enabling businesses to
                optimize their resources with precision.
              </p>
              <br />
              <p>
                Commercial cards within OLBB redefine the contours of corporate
                spending, offering a secure and controlled avenue for expenses.
                The eStatement module brings transparency to the forefront,
                ensuring that financial records are always a click away,
                fostering informed decision-making.
              </p>
              <br />
              <p>
                OLBB is a testament to customization and flexibility, with each
                module meticulously crafted to fulfill the unique needs of
                businesses across sectors. Whether catering to local enterprises
                or global conglomerates, OLBB transcends the conventional
                banking experience, transforming it into a tailored journey that
                mirrors the evolving needs of modern businesses.
              </p>
              <br />
              <p>
                In essence, OLBB is more than a platform; it's a financial
                ecosystem that encapsulates the essence of modern business
                banking. With its panoramic view of financial solutions and
                unwavering commitment to user empowerment, OLBB sets a new
                standard in digital banking, where technology harmonizes with
                business aspirations to pave the way for financial success.
              </p>
              <br />
              <br />
              <p>
                <b>Technologies: </b> Core Java, Spring MVC , Spring boot, Micro
                services, Angular 7, Angular Material, Typescript, Spring JDBC,
                Oracle Database.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
